{{ 'custom.css' | asset_url | stylesheet_tag }}

<div class="headingContainer">
    <hr class="hrBack">
    <p class="hrText">{{ section.settings.hr_text }}</p>
</div>

{% schema %}
{
  "name": "Custom HR Text",
  "settings": [
    {
      "type": "text",
      "label": "Heading Text",
      "id": "hr_text",
      "default": "Shop By Category"
    }
  ]
}
{% endschema %}