{% schema %}
  {
    "name": "Custom Section",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Custom Section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

<div class="headingContainer">
  <hr class="hrBack">
  <p class="hrText">Standards</p>
</div>