.newsletter-form {
    border: solid 1px #002c00;
    align-items: flex-start;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding: 10px 15px;
    width: 100%;
    align-items: center;
}

@media screen and (min-width: 750px) {
  /* .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 36rem;
  }
} */

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
    /* padding-right: 5rem; */
    padding: 0 !important;
    font-size: 3rem;
}

.newsletter-form__field-wrapper .field {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-direction: row;
    transition: box-shadow var(--duration-short) ease;
    align-items: center;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
    margin-top: 0;
}

@media screen and (min-width: 750px) {
.newsletter-form__message {
    justify-content: flex-start;
    position: absolute;
    margin-left: 757px;
}
}

.newsletter-form__button {
box-shadow: inherit;
    background-color: #002c00;
    height: 46px;
    border-radius: 9px;
}


.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
    width: 6.5rem;
}
