.product__text {
    font-size: 2rem;
    font-weight: 400;
    color: #002c00;
}
.product__info-container .product-form, .product__info-container .product__description, .product__info-container .icon-with-text {
    font-weight: 400 !important;
}
.product-form__quantity .form__label {
    font-weight: 400 !important;
}
.quantity {
    border: dashed 1.5px black;
    padding: 10px 20px;
  border-radius: 10px !important;
}
.product--medium:not(.product--no-media) .product__info-wrapper, .product--small:not(.product--no-media) .product__media-wrapper {
    background-color: #f8ddaa;
    padding: 50px;
}
.quantity__input {
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
    width: 60px;
}