.product .grid__item product__media-wrapper .product__column-sticky .thumbnail-slider {
    padding: 0 80px !important;
}
 
.product .product__info-wrapper .product__info-container .icon-with-text {
    margin-top: 2rem !important;
}

.product-form__buttons {
    display: flex;
    justify-content: space-between !important;
}
.product-form__buttons button {
    width: 100%!important;
    text-wrap: nowrap;
    margin: 0 15px 0 0;
    padding: 0 20px !important;
}
.product-form__input {
    margin: 0 !important;
}
.product .price .badge, .product .price__container {
    margin-top: 2rem;
}
.quantity-with-price-align {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.product-form__input {
    flex: 0 !important;
}
.quantity-and-price-flex-container{
  display: flex;
      display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}
.product__info-container>*+* {
    margin: 1rem 0 !important;
}
.full-unstyled-link {
    text-wrap: wrap;
    /* max-width: 50%; */
    display: flex;
}
.headingContainer {
  justify-content: center;
  align-items: center;
  display: flex;
}
.hrBack {
  height: 1.5px;
  width: 100%;
  border: none;
  background-color: #002c00;
  position: absolute;
}
.hrText {
  font-size: 5rem;
  font-weight: 600;
  width: fit-content;
  color: #002c00;
  text-align: center;
  margin: 0;
  padding: 0 30px;
  background-color: white;
  position: relative;
}
.product__text {
    font-size: 2rem;
    font-weight: 400;
    color: #002c00;
}
.product__text.caption-with-letter-spacing+.product__title {
    color: #002c00;
}
.product__info-container .product-form, .product__info-container .product__description, .product__info-container .icon-with-text {
    font-weight: 400 !important;
      margin: 0 !important;

}
.product-form__quantity .form__label {
    font-weight: 400 !important;
}
.quantity {
    border: dashed 1.5px black;
    padding: 10px;
  border-radius: 10px !important;
}
.product--medium:not(.product--no-media) .product__info-wrapper, .product--small:not(.product--no-media) .product__media-wrapper {
    background-color: #f8ddaa;
    padding: 50px;
}
.quantity__input {
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
    width: 60px;
}
.price--large {
    display: flex;
    align-items: center;
}
.product__info-container .price--on-sale .price-item--regular {
    font-size: 1.7rem !important;
}
.price .price-item {
    font-size: 2.3rem!important;
}
.product .price .badge, .product .price__container {
    margin-bottom: 0;
}
.price--sold-out .price__badge-sold-out, .price--on-sale .price__badge-sale, .volume-pricing--sale-badge .price__badge-sale {
    margin-left: 10px;
    padding: 3px 30px;
}
.animate--hover-vertical-lift .button:not(.button--tertiary), .animate--hover-vertical-lift .shopify-challenge__button, .animate--hover-vertical-lift .customer button, .animate--hover-vertical-lift .shopify-payment-button__button {
    width: 100%;
    /* background: #002c00; */
    /* color: white; */
    letter-spacing: 0;
    font-size: 2.4rem;
    height: 50px;
    padding: 0;
    border-radius: 10px;
}
.animate--hover-vertical-lift .button:not(.button--tertiary), .animate--hover-vertical-lift .shopify-challenge__button, .animate--hover-vertical-lift .customer button, .animate--hover-vertical-lift .shopify-payment-button__button:hover {
    /* background-color: #002c00 !important; */
}
.product-form__submit {
    background-color: #42200a;
}
.shopify-payment-button__button {
    background-color: white !important;
    color: #42200a;
}
/* .product__text {
    font-weight: 600;
    font-size: 2.6rem;
    text-align: center;
} */
.product__accordion .accordion__content {
    font-weight: 400;
    opacity: .7;
}










