* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}
/* text */
.homePageBannerDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 0 10vw;
}
.homePageBannerDescriptionText {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #002c00;
}
/* heading */
.headingContainer {
    justify-content: center;
    align-items: center;
    display: flex;
}
.hrBack {
    height: 2px;
    width: 100%;
    border: none;
    background-color: #002c00;
    position: absolute;

}
.hrText {
    font-size: 2rem;
    font-weight: 600;
    width: fit-content;
    color: #002c00;
    text-align: center;
    margin: 0;
    padding: 0 30px;
    background-color: white;
    position: relative;
}
/* icons Strip */
.iconsStripContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: start;
}
.iconsStripContainer img {
    width: 10%;
    height: auto;
}
/* category Strip */
.iconsStripContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: end;
}
.iconsStripContainer img {
    width: 20%;
    height: auto;
}
/* product Range */
.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.productContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: auto;
    border: solid 2px #002c00;
}