* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}
p{
    margin: 0;
}
/* text */
.homePageBannerDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 0 10vw;
}
.homePageBannerDescriptionText {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #002c00;
}
/* video */
.videoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 180px;
    margin: 0;
  }
  .videoContainer video {
    width: 100%;
    margin: 0;
    border-radius:20px;
  }


/* heading */
.headingContainer {
    justify-content: center;
    align-items: center;
    display: flex;
}
.hrBack {
    height: 2px;
    width: 100%;
    border: none;
    background-color: #002c00;
    position: absolute;

}
.hrText {
    font-size: 2rem;
    font-weight: 600;
    width: fit-content;
    color: #002c00;
    text-align: center;
    margin: 0;
    padding: 0 30px;
    background-color: white;
    position: relative;
}
/* icons Strip */
.iconsStripContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: start;
}
.iconsStripContainer img {
    width: 10%;
    height: auto;
}
/* category Strip */
.iconsStripContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: end;
}
.iconsStripContainer img {
    width: 20%;
    height: auto;
}
/* product Range */
.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    border: solid 1px #002c00;
}
.productContainer img{
    width: 100%;
}
.productContainerHeading{
    font-size: 1.2rem;
    line-height: 1rem;
    color: #002c00;
    font-weight: 400;
}
.productContainerSubHeading {
    font-size: 1.8rem;
    line-height: 3.5rem;
    color: #002c00;
    font-weight: 600;
}
.productCardPrices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.productContainerDisabledPrice{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    text-decoration: line-through;
}
.productContainerPrice{
    font-size: 1.3rem;
    line-height: 1rem;
    font-weight: 500;
}

/* call banner */
.CallBanner{
    background-color: #002c00;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CallBannerHeading{
    font-size: 2.8rem;
    color: white;
    font-weight: 600;
    text-align: center;
}
.CallBannerSubHeading{
    font-size: 1.8rem;
    color: white;
    font-weight: 200;
    text-align: center;
}
.CallBannerFlex{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 180px;
    margin-top: 10px;
}
.CallBannerFlexLinks {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 30px;
}
.CallBannerFlexLink{
    background-color: white;
    border-radius: 20px;
    padding: 10px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.CallBannerFlexLink svg{
    font-size: 4rem;
    fill: #002c00;
}
.CallBannerFlexLinkText{
    font-size: 2rem;
    color: #002c00;
    font-weight: 600;
    text-align: left;
}
.CallBannerFlexImgContainer{
    height: 400px;
}
.CallBannerFlexImg{
    height: 400px;
}

/* Suwasthi about lines left */
/* .suwasthiHomeAboutBlockLeftContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.BlockLeftText{
    width: 100%;
    padding: 0 180px;
    position: absolute;
    z-index: 2;
}
.BlockLeftTextHeading {
    font-size: 3.6rem;
    margin: 0;
    color: #002c00;
    font-weight: 600;
    text-align: left;
    line-height: 3rem;
}
.BlockLeftTextParagraph {
    color: #002c00;
    font-size: 2.3rem;
    text-align: left;
    font-weight: 400;
    line-height: 3rem;
}
.BlockLeftImgContainer{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0 180px;
}
.BlockLeftImg{
    height: 20vw;
    opacity: .7;
} */

/* Suwasthi about lines right */
.suwasthiHomeAboutBlockLeftContainer{
    display: flex;
    justify-content: center;
    align-items: center
}
.BlockLeftText{
    width: 100%;
    padding: 0 180px;
    position: absolute;
    z-index: 2
}
.BlockLeftTextHeading {
    font-size: 3.6rem;
    margin: 0;
    color: #002c00;
    font-weight: 600;
    text-align: right;
    line-height: 3rem
}
.BlockLeftTextParagraph {
    color: #002c00;
    font-size: 2.3rem;
    text-align: right;
    font-weight: 400;
    line-height: 3rem
}
.BlockLeftImgContainer{
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 0 180px
}
.BlockLeftImg{
    height: 20vw;
    opacity: .7
}

/* testimonials Content */
.testimonialsContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonialsLeftText{
    text-align: left;
    color: #002c00;
    font-weight: 300;
    font-size: 3rem;
}
.countdown{
    color: #42200a;
    font-weight: 600;
    font-size: 5rem;
}
.countdownPlus{
    color: #42200a;
    font-weight: 600;
    font-size: 5rem;
}
.testimonialsRightImg{
    width: 30vw;
}