.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

.element-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: start;
}
.inline-richtext {
    margin: 10px 0;
}
.newsletter__wrapper {
    flex-direction: row;
    gap: 100px;
    /* width: 80%; */
    padding: 0 150px;
    border: solid 1px #002c00;
    /* border-radius: 20px; */
    margin: 0 auto;
    background-color: #002c0007;
    align-items: center;
    justify-content: space-between;
}

.newsletter__wrapper>* {
    margin-top: 0;
    margin-bottom: 0;
    color: #002c00;
}
.inline-richtext {
    font-size: 5rem;
    width: 100%!important;
    font-weight: 600;
    line-height: 3rem;
    font-family: var(--font-body-family);
}
.newsletter__wrapper > * + * {
  /* margin-top: 2rem; */
}

.newsletter__wrapper > * + .newsletter-form {
  /* margin-top: 3rem; */
}

.newsletter__subheading {
    max-width: 100%;
    text-wrap: nowrap;
    width: 100%!important;
    font-family: var(--font-body-family);
    margin-left: auto;
    font-weight: 400;
    margin-right: auto;
    font-size: 4.5rem;
    line-height: 7rem;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
    width: 100% !important;
    max-width: 100%;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 0rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
